# 忽略日志文件
*.log
dataset/
fxtemp/
data/
/FuxiCTR/data
/FuxiCTR/model_zoo/**/data/
/FuxiCTR/model_zoo/**/checkpoints/
/vq/script/moe/moe_run_*.py
/vq/script/rq/
/vq/script/sports/
/vq/script/bole_data/
/vq/script/beauty/
**/*_experiments/
*.tar.gz
cluster/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
amazon*/
**/.vscode/
/FuxiCTR/model_zoo/**/yaml_*
/FuxiCTR/model_zoo/**/moc_*
/FuxiCTR/model_zoo/**/*base*
/FuxiCTR/model_zoo/data1