base: &default
    early_stop_patience: 1
    batch_norm: true
    batch_size: 8192
    # batch_size: 1024
    debug_mode: false
    dnn_activations: relu
    embedding_dim: 64
    embedding_regularizer: 0.000
    epochs: 100
    eval_interval: 1
    # learning_rate: 0.00001
    learning_rate: 0.001
    loss: binary_crossentropy
    low_rank: 128
    metrics: [AUC, logloss]
    model: DCNv2
    model_id: DCNv2_base
    model_root: ./checkpoints
    model_structure: parallel
    monitor: {AUC: 1}
    monitor_mode: max
    net_dropout: 0
    net_regularizer: 0
    num_cross_layers: 3
    # num_cross_layers: 2
    num_experts: 2
    num_workers: 16
    optimizer: adam
    # parallel_dnn_hidden_units: [256, 256]
    # parallel_dnn_hidden_units: [512, 256, 128, 64]
    parallel_dnn_hidden_units: [512, 256, 128]
    pickle_feature_encoder: true
    save_best_only: true
    seed: 2333
    shuffle: true
    stacked_dnn_hidden_units: [500, 500, 500]
    task: binary_classification
    use_low_rank_mixture: false
    verbose: 1

newbase:
    <<: *default

newbase1:
    <<: *default